@layer components {
    .sub_section {
        @apply bg-grey border border-dark rounded p-4 text-light h-full;
    }

    .transite {
        transition: all 0.15s ease-in;
    }

    .field {
        @apply flex flex-col w-full items-start;
    }

    label,
    .label {
        @apply font-medium text-base text-dark mb-1 flex gap-2;
    }

    .input-field {
        @apply border border-gray-400 w-full bg-light text-dark h-11 px-4 rounded-md outline-none hover:border-2 focus:border focus:border-primary transition-all duration-200 ease-in;
    }

    .input-select {
        @apply border border-gray-400 w-full bg-light text-dark h-11 px-4 rounded-md outline-none hover:border-2 focus:border focus:border-primary transition-all duration-200 ease-in;
    }

    .input-textarea {
        @apply border border-gray-400 w-full bg-light text-dark p-4 rounded-md outline-none hover:border-2 focus:border focus:border-primary transition-all duration-200 ease-in;
    }
        .center {
        @apply flex justify-center items-center;
    }
    .input{
        @apply w-full text-gray-500 px-4 py-2 text-xl bg-gray-100 bg-opacity-50  rounded-lg focus:outline-none focus:ring-1 focus:ring-[#4f1ded] focus:border-[#4f1ded] placeholder-gray-300 transition;
      }
      
      .table{
          @apply block mb-2 text-left col-span-2 font-bold whitespace-nowrap
      }
      .form-title{
            @apply text-dark text-2xl font-bold w-full flex justify-between items-center
      }
          .modal-btn {
        @apply rounded-md center px-4 py-2.5 border border-primary text-primary hover:text-light hover:bg-primary transite w-full  justify-center disabled:bg-gray-500 cursor-pointer disabled:cursor-not-allowed;
    }

    .modal-btn-secondary {
        @apply rounded-md center px-4 py-3 border-2 border-secondary text-secondary hover:text-light hover:bg-secondary transite w-full  justify-center disabled:bg-gray-500 cursor-pointer disabled:cursor-not-allowed;
    }
    .modal-btn-sm {
        @apply modal-btn h-10 center px-7  center
    }
        .btn {
        @apply rounded-md px-4 py-2 flex justify-center items-center disabled:bg-gray-500 box-border h-11;
    }

    .btn-primary {
        @apply btn bg-primary text-light;
    }

    .btn-primary-inverse {
        @apply btn bg-light text-primary;
    }

    .btn-secondary {
        @apply btn bg-light text-primary border-2 border-primary;
    }
      
}