
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


body{
    background-color: var(--light);
      font-family: 'Outfit', sans-serif;
}

.bg {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#ea4335 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

input[type="number"] {
  -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}