@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body{
    background-color: var(--light);
      font-family: 'Space Grotesk', sans-serif;
}

.bg {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#ea4335 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

input[type="number"] {
  -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}