@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    user-select: none;
    font-family: 'DM Sans', sans-serif;
    background: #fff;
}

.bg{
background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#EA4335 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}